body {
  font-family: Arial;
  background: #020617;
  color: white;
  text-align: center;
}

.container {
  margin-top: 50px;
}

#question {
  font-size: 36px;
  margin: 20px;
}

input {
  padding: 10px;
  width: 200px;
}

button {
  padding: 10px;
  margin: 10px;
}

#feedback {
  margin-top: 20px;
  font-size: 18px;
}

#stats-bar span {
  margin: 10px;
}
